.card {
    display: flex;
    width: 220px;
    position: relative;

}

.card img {
    width: 100%;
    height: 100%;
}

.notActive {

    filter: sepia(1);
}

.card img:hover {
    filter: sepia(0);
}

.active {
    border-color: blueviolet;
    border-style: solid;
    border-width: 2px;
    filter: sepia(0);
}