.card {
    display: flex;
    width: 220px;
    position: relative;
    flex-shrink: 1;
}

.card img {
    width: 100%;
    height: 100%;
}

.card:hover {
    opacity: 1;
    filter: sepia();
}

.card span {
    position: absolute;
    top: 0;
    left: 30%;
    text-align: center;
    color: red;
}