.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 100%;
    flex-direction: column;
}

.container button {
    width: 100px;
    height: 30px;
    font-weight: 700;
    opacity: 0.7;
    color: blueviolet;
}

.buttons {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container button:hover {
    opacity: 1;
}

.diff {
    color: white;
    margin-top: 10px;
}

.godName {
    color: white;
}

.reset {
    color: blueviolet;
}