.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 100%;
    flex-direction: column;
    gap: 10px;
}

.container button {
    width: 100px;
    height: 30px;
    font-weight: 700;
    opacity: 0.7;
}

.container button:hover {
    opacity: 1;
}

.diff {
    color: blueviolet;
}

.godName {
    color: blueviolet;
}